@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Harry'; /* Your custom font name */
    src: url('../fonts/Harry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HitamInk'; /* Your custom font name */
    src: url('../fonts/HitamInk.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Machumaine'; /* Your custom font name */
    src: url('../fonts/Machumaine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
